#root {
    height: 100%;
}

.ui.search .ui.input {
    width: 100%;
}

.ui.overlay.right.visible.sidebar {
    background-color: #fff;
}

.table__row--border-top > td {
    border-top: 2px solid #333 !important;
}